@media  only screen and (max-width:1350px){
    .image-panal{
        height: 13rem;
    }
    .left-panal{
        display: none;
    }
    .box-panal{
        width: 100%;
    }
    .panal22-box{
        width: 18%;
        flex-wrap: wrap;
    }
    .logos p{
        display: none;
    }
    .extrahiddenbox{
        display: inline-block;
    }
    .panal2-box{
        width: 15%;
        height: 85%;
    }

}
@media  only screen and (max-width:1250px){
    .image-panal{
        height: 12rem;
    }
    
}
@media  only screen and (max-width:1150px){
    .lastbox{
        display: none;
    }
    .panal2{
        height: 23rem;
        margin-bottom: 2rem;
    }
    .panal2-box{
        width: 18%;
        height: 80%;
    }
}
@media  only screen and (max-width:950px){
    .sec-lastbox{
        display: none;
    }
    .panal2{
        height: 20rem;
        margin-top: 5rem;
    }
    .panal2-box{
        width: 18%;
        height: 80%;
    }
}
@media  only screen and (max-width:770px){
    .logos{
        display: none;
    }
    .nav-search{
        width: 40%;
        margin-left: -5rem;
    }
    .nav-logo{
        margin-left: -4rem;
    }
    .hidden-menu-bar{
        display: inline-block;
    }
    .box-panal{
        width: 100%;
    }
    
    
}
@media only screen and (max-width:1050px){
    .box{
        width:9%;
        margin:0.7% ;
    }
    .box img {
        width: 4rem;
    }
    .box p{
        font-size: 0.8rem;
    }
    .panal{
        min-height:7rem ;
        min-width: 98%;
    }
    .image-panal{
        height: 10rem;
    }
    
}
@media only screen and (max-width:770px){
    .panal{
        width: 100vw;
        height: 16.4rem;
        flex-wrap: wrap;
    }
    .box{
        margin: 0px 4% ;
        height: 45%;
    }
    .box img {
        width: 4rem;
    }
    .box p{
        font-size: 0.8rem;
    }
    .image-panal{
        height: 8rem;
    }

}
@media only screen and (max-width:500px){
    .panal{
        width: 100vw;
        height: 24.6rem;
        flex-wrap: wrap;
    }
    .box{
        margin: 0px 10% ;
        height: 30%;
    }

    .nav-login{
        display: none;
    }
    .image-panal{
        height: 7rem;
    }
}